.fightArea {
  width: 37%;

  &__fight {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__vs {
    padding: 3%;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 50%;
  }

  &__itemTitle {
    border: 1px solid #000;
    position: relative;
  }

  &__btnContainer {
    display:flex;
    flex-direction: column;

  }

  &__logs {
    border: 1px solid #000;
    height: 93px;
    overflow: scroll;
  }

  &__btnAttack {
    padding: 1% 3%;
    width: 100px;
    height: 50px;
    cursor: pointer;
  }

  &__fightResult {
    text-align: center;
    color: #00FF2A;
    font-size: 1.2rem;
    
    &--defeat {
      color: #FF0000;
    }
  }


  &__infoContainer {
    border: 1px solid #000;
  }

  &__btnReset {
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1%;
  }

  &__hpBar {
    position: relative;
    z-index: 10;
  }

  &__hitBar {
    width: 100%;
    height: 100%;
    background-color: #FF5858;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;

    &--hero {
      background-color: #1CC500;
    }
  }

  &__creepImg {
    width: 300px;
    height: 300px;
  }
  &__item {
    width: 300px;
    height: 330px;
  }
}