* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Konstanting';
  src: local('Konstanting'), url(./assets/fonts/Konstanting.ttf) format('truetype');
}

html {
  font-size: 26px;
  font-family: 'Arial';
}

ul>li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}