.location {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navItem {
    padding: 1%;
    border: 2px solid #000;
    white-space: nowrap;
    cursor: pointer;

    &--active {
      border-color: #ff0000;
    }
  }

  &__difficultyLvls {
    display: grid;
    grid-template-columns: repeat(9,11%);
  }

  &__difficultyItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 0.6rem;
   cursor: pointer;
  }

  &__difficultNumber {
    width: 70px;
    height: 70px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;

    &--active {
      border: 2px solid #ff0000;
    }
  }

  &__itemsContainer {
    display: grid;
    grid-template-columns: repeat(3,33%);
  }

  &__item {
    margin-right: 0.5%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.creeps {


  &__btns {
    display: flex;
    justify-content: flex-start;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 0.5%;
    cursor: pointer;
    position: relative;

    &--inActive {
      &:before {
        content: '';
        width: 136px;
        height: 136px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-image: url('../../assets/png/creepVictory.png');
      }
    }
  }
  &__img {
    width: 136px;
    height: 136px;
  }
  &__count {
    position: absolute;
    color: #fff;
    bottom: 10px;
    right: 10px;
  }

  &__infoContainer {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2,50%);
  }

  &__lootImg {
    width: 40px;
    height: 40px;
  }
  &__lootItem {
    display: flex;
    align-items: center;
  }
}