.location {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navItem {
    padding: 1%;
    border: 2px solid #000;
    white-space: nowrap;
    cursor: pointer;

    &--active {
      border-color: #ff0000;
    }
  }

  &__difficultyLvls {
    display: grid;
    grid-template-columns: repeat(9,11%);
  }

  &__difficultyItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 0.6rem;
   cursor: pointer;
  }

  &__difficultNumber {
    width: 70px;
    height: 70px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;

    &--active {
      border: 2px solid #ff0000;
    }
  }

  &__itemsContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 0.5%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.creeps {
  &__btns {
    display: flex;
    justify-content: flex-start;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 0.5%;
  }
  &__item {
    cursor: pointer;
  }
  
}